<div class="post">
    <div class="information">
        {{!-- <h2 class="title"><a href="/posts/{{this.title}}">{{this.title}}</a></h2> --}}
        <h2 class="title">{{this.title}}</h2>
        <p class="author">By {{this.author}}</p>
        <p class="category">Category: {{this.category}}</p>
        <p class="timestamp">Created on {{this.createdOn}}</p>
        <p>ID of post: {{this.ID}}</p>
    </div>

    <p class="content">{{this.content}}</p>


    {{!-- <hr> --}}

    <br>
    <div class="buttonRow">
        <form action="/posts/{{this.ID}}" method="post">
            <input type="hidden" name="id" value="{{this.ID}}">
            <input type="submit" value="edit">
        </form>
        <form action="/delete/posts/{{this.ID}}" method="post">
            <input type="hidden" name="id" value="{{this.ID}}">
            <input type="submit" value="delete">
        </form>
    </div>
    <br>
</div>