<div class="post">
    <div class="information">
        <h2 class="title">{{this.title}}</h2>
        <p class="author">By {{this.author}}</p>
    </div>

    <p class="content">{{this.content}}</p>

    {{!-- <hr> --}}

    <br>
    <form action="/{{this.ID}}" method="post">
        <input type="hidden" name="id" value="{{this.ID}}">
        <input type="submit" value="edit">
    </form>
    <form action="/delete/posts/{{this.ID}}" method="post">
        <input type="hidden" name="id" value="{{this.ID}}">
        <input type="submit" value="delete">
    </form>
    <br>
</div>